.content img {
    width:60%;
    border-radius:50%;
    margin: auto;
    margin-bottom:0.5rem;
}
.content h2 {
    color:#7CFF00;
    margin-bottom:0.3rem;
}

.cardDetailData {
    text-align: left;
    padding: 0.5rem;
}

.cardDetailData p {
    font-size:0.9rem;
    margin-bottom:0.2rem;
    color:#b6ffb6;
}

.cardDetailData strong {
    color: #2a552a;
}

@media (max-width: 768px) {
  .content img {
    width:80%;
  }
}